{% extends "base.html" %}
{% block content %}
<div id="content">
  <p>
    Hello, World!
  </p>
  <span id="font_label_id">
    Font Size
  </span>
  <select id="font_select_id">
    <option>
      15
    </option>
    <option>
      16
    </option>
    <option>
      17
    </option>
    <option>
      18
    </option>
    <option>
      19
    </option>
    <option>
      20
    </option>
  </select>
  <br>
  <iframe src="/this/" id="ifrm"/>
  </iframe>
<form action="." method="post" id="save_text_form">
{% csrf_token %}
<input type="hidden" value="" name="textBody" id="textBodyInputId"/>
<input type="submit" value="Save"/>
</form>
</div>
{% endblock %}
