{% extends "base.html" %}
{% block content %}
<a href="{% url userProfile %}">
  User Profile
</a>
<div id="content">
  <p>
    Hello, World!
  </p>
  <span id="font_label_id">
    Font Size
  </span>
  <select id="font_select_id">
    {% for size in font_size %}
    <option>
      {{ size }}
    </option>
    {% endfor %}
  </select>
  <br>
  <iframe src="/this/" id="ifrm"/>
  </iframe>
<form action="." method="post" id="save_text_form">
{% csrf_token %}
<input type="hidden" value="" name="textBody" id="textBodyInputId"/>
<input type="submit" value="Save"/>
</form>
</div>
{% endblock %}
