body {
    background-color: white;
    font-family: helvetica;
}

#ifrm {
    position:relative;
    left:350px;
    top:50px;
    width: 60%;
    height:500px;
}

#editor {
    outline: none;
}

#editor.default_start_point {

}